.string,
.language-html .tag:not(.punctuation, .attr-name, .attr-value, .special-attr) {
  color: var(--heat-100) !important;
}

.punctuation,
.operator {
  color: #c2c2c2 !important;
}

.language-html .attr-name {
  color: var(--black-alpha-64);
}

.comment {
  color: #999999 !important;
}

code:not(.language-html) .property:not(.literal-property),
.class-name,
code:not(.language-html) .function,
.language-json .boolean {
  color: #9061ff;
  color: color(display-p3 0.566 0.38 1);
}

.language-json .property {
  color: inherit !important;
}

.prismjs {
  padding-top: 20px;
  font-family: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.prismjs code {
  color: var(--accent-black) !important;
}

.linenumber {
  padding: 0;
  color:white!important;
  font-style: normal;
}
